body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shortcut-bar {
    width: 100%;
    background-color: #eeeeee; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    display: flex; /* Usar flexbox para alinhar os itens */
    align-items: center; /* Alinhar itens verticalmente */
    position: fixed; /* Fixa a barra no topo da página */
    top: 0; /* Posiciona no topo */
    left: 1000;
    z-index: 1000; /* Garante que a barra fique acima de outros conteúdos */
}

.logo {
    width: 40px; /* Largura da logo */
    margin-right: auto; /* Margem à direita para alinhar a logo à esquerda */
}

.shortcut-bar nav a {
    color: #333; /* Cor do texto dos links */
    text-decoration: none; /* Remover sublinhado dos links */
    margin-left: 10px; /* Espaçamento entre os botões */
}

.shortcut-bar nav a:hover {
    color: #000; /* Cor do texto em hover */
}

.main-content {
    margin-top: 70px; /* Espaço para evitar sobreposição com a barra de atalhos */
    display: flex;
    justify-content: center;
    width: 100%;
}
.container {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    width: 100px;
    height: 100px;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.item {
    background-color: #e6f4e6;
    border: 1px solid #ccc;
    border-radius: 10px;    
    padding: 15px;
    border-radius: 8px;
    flex: 0 1 calc(50% - 10px);
    box-sizing: border-box;
}

.item h3 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

.item p {
    margin: 5px 0;
}
