body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shortcut-bar {
    width: 100%;
    background-color: #eeeeee; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    display: flex; /* Usar flexbox para alinhar os itens */
    align-items: center; /* Alinhar itens verticalmente */
    position: fixed; /* Fixa a barra no topo da página */
    top: 0; /* Posiciona no topo */
    left: 1000;
    z-index: 1000; /* Garante que a barra fique acima de outros conteúdos */
}

.logo {
    width: 40px; /* Largura da logo */
    margin-right: auto; /* Margem à direita para alinhar a logo à esquerda */
}

.shortcut-bar nav a {
    color: #333; /* Cor do texto dos links */
    text-decoration: none; /* Remover sublinhado dos links */
    margin-left: 10px; /* Espaçamento entre os botões */
}

.shortcut-bar nav a:hover {
    color: #000; /* Cor do texto em hover */
}

.main-content {
    margin-top: 70px; /* Espaço para evitar sobreposição com a barra de atalhos */
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    margin-top: 25px;
}

.form-container img {
    width: 80px;
    margin-bottom: 20px;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    width: 48%;
    text-align: left;
}

.form-group-full {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

.proposal-details {
    background-color: #e0f7e0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group p {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
}


.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group-full input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: #45a049;
}
.form-container h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: #45a049;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.result-card {
    background-color: #e0f7e0;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: calc(45% - 20px); 
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; 
}

.btn-view {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-view:hover {
    background-color: #45a049;
    transform: scale(1.05); 
}

.result-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e0f7e0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.result-container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e0f7e0;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.result-container3 .btn-view {
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #4CAF50;; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
}
.buttons a, .buttons button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 5px 0;
    border: none; /* Remover borda padrão dos botões */
}

.buttons a:hover, .buttons button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 5px 0;
    border: none; /* Remover borda padrão dos botões */
}
.btn-back {
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Remover borda padrão */
    text-transform: uppercase; /* Texto em letras maiúsculas */
    margin-top: 20px; /* Espaçamento superior */
    text-decoration: none; /* Remover sublinhado do texto */
    display: inline-block; /* Exibir como bloco inline */
    transition: background-color 0.3s, transform 0.3s; /* Transições para hover */
}

.btn-back:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumentar o botão ao passar o mouse */
}