body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}
.container {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header img {
    width: 100px;
    margin-bottom: 20px;
}
.interacoes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.interacao {
    background-color: #e6f4e6;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    flex: 0 1 calc(50% - 10px);
    box-sizing: border-box;
}
.interacao h3 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}
.interacao p {
    margin: 5px 0;
}