{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cliente</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="shortcut-bar">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <nav>
            <a href="{% url 'opportunity_management'%}">Gerenciar vendas</a>
            <a href="{% url 'pesquisar_clientes'%}">Pesquisar cliente</a>
            <a href="{% url 'visualizar_clientes'%}">Visualizar cliente</a>
            <a href="{% url 'criar_proposta'%}">Criar propostas</a>
            <button class="btn-back" onclick="history.back()">Voltar</button>
        </nav>
    </header>
    <main class="main-content">
        <div class="form-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
            <h2>Registro de cliente</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_nome">Nome</label>
                        {{ form.nome }}
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_telefone">Telefone</label>
                        {{ form.telefone }}
                    </div>
                    <div class="form-group">
                        <label for="id_cpf_cnpj">CPF/CNPJ</label>
                        {{ form.cpf_cnpj }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_data_nascimento">Data de nascimento</label>
                        {{ form.data_nascimento }}
                    </div>
                </div>
                <h2>Endereço</h2>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_rua">Rua</label>
                        {{ form.rua }}
                    </div>
                    <div class="form-group">
                        <label for="id_numero">Número</label>
                        {{ form.numero }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_cidade">Cidade</label>
                        {{ form.cidade }}
                    </div>
                    <div class="form-group">
                        <label for="id_cep">CEP</label>
                        {{ form.cep }}
                    </div>
                </div>
                <button type="submit" class="btn-submit">Cadastrar</button>
            </form>
        </div>
    </main>
</body>
</html>
