body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e0f7da;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    margin: 30px;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

form input {
    padding: 8px;
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #45a049;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #45a049;
    transform: scale(1.05); 
}

.stage-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stage {
    flex: 1;
    margin: 0 10px;
    background-color: #e0f7da;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    min-height: 400px;
}

.stage h2 {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.opportunity {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: grab;
    font-size: 0.9em;
}

.opportunity .details {
    margin-top: 10px; 
    margin-bottom: 10px;
    text-align: center;
}

.opportunity .details strong {
    display: inline-block;
    margin-bottom: 5px; /* Espaço entre os itens */
}
@media (max-width: 768px) {
    .stage-container {
        flex-direction: column;
        align-items: center;
    }

    .stage {
        margin: 10px 0;
        width: 90%;
    }
}

.opportunity .buttons a {
    display: inline-block;
    background-color: #45a049;
    color: white;
    padding: 6px 5px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 2px 0;
}


.opportunity .buttons a:hover {
    background-color: #45a048;
    transform: scale(1.05); 
}

.opportunity .buttons a:last-child {
    margin-right: 0;
}

/* Estilo para a barra de atalhos */
.shortcut-bar {
    background-color: #eeeeee; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    display: flex; /* Usar flexbox para alinhar os itens */
    align-items: center; /* Alinhar itens verticalmente */
}

/* Estilo para a logo */
.logo {
    width: 40px; /* Largura da logo */
    margin-right: auto; /* Margem à direita para alinhar a logo à esquerda */
}

/* Estilo para os links da barra de atalhos */
.shortcut-bar a {
    color: #333; /* Cor do texto dos links */
    text-decoration: none; /* Remover sublinhado dos links */
    margin-left: 10px; /* Espaçamento entre os botões */
}

/* Estilo para alterar a cor do texto quando o link é hover */
.shortcut-bar a:hover {
    color: #000; /* Cor do texto em hover */
}
