{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Preferências</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="form-container">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <img src="{% static 'images/jacto.png' %}" alt="Jacto" class="jacto-logo">
        <h1>Adicionar preferência</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="id_preferencia">Preferencia:</label>
                    {{ form.preferencia }}
                </div>
            </div>
            <button type="submit" class="btn-submit">Adicionar</button>
        </form>
    </div>
</body>
</html>
