{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras e Preferências</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <header class="shortcut-bar">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <nav>
            <a href="{% url 'opportunity_management'%}">Gerenciar vendas</a>
            <a href="{% url 'pesquisar_clientes'%}">Pesquisar cliente</a>
            <a href="{% url 'visualizar_clientes'%}">Visualizar cliente</a>
            <a href="{% url 'criar_proposta'%}">Criar propostas</a>
            <button class="btn-back" onclick="history.back()">Voltar</button>
        </nav>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="header">
                <img src="{% static 'images/logo.png' %}" alt="Jacto">
                <h1>Compras e Preferências de {{ cliente.nome }}</h1>
            </div>

            <div class="section">
                <div class="section-title">Compras:</div>
                <div class="items">
                    {% for compra in compras %}
                    <div class="item">
                        <h3>Valor: {{ compra.valor }}</h3>
                        <p>Produto: {{ compra.produto }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="section">
                <div class="section-title">Preferências:</div>
                <div class="items">
                    {% for preferencia in preferencias %}
                    <div class="item">
                        <p>Preferência: {{ preferencia.preferencia }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>
