{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Proposta</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="shortcut-bar">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <nav>
            <a href="{% url 'registro'%}">Registro cliente</a>
            <a href="{% url 'opportunity_management'%}">Gerenciar vendas</a>
            <a href="{% url 'visualizar_clientes'%}">Visualizar cliente</a>
            <a href="{% url 'criar_proposta'%}">Criar propostas</a>
            <button class="btn-back" onclick="history.back()">Voltar</button>
        </nav>
    </header>

    <main class="main-content">
        <div class="form-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            <h3>Detalhe proposta</h3>
            <h2>{{ proposta.titulo }}</h2>
            <div class="proposal-details">
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_descricao">Descrição</label>
                        <p>{{ proposta.descricao }}</p>
                    </div>
                    <div class="form-group">
                        <label for="id_preco">Preço</label>
                        <p>{{ proposta.preco }}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_prazo">Prazo de validade</label>
                        <p>{{ proposta.prazo_validade }}</p>
                    </div>
                    <div class="form-group">
                        <label for="id_itens">Itens</label>
                        <p>{{ proposta.itens }}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
