<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Nova Proposta</title>
</head>
<body>
    <h1>Nova Proposta Disponível</h1>
    <p>Confira a nova proposta que acabamos de enviar!</p>
    <p>Título: {{ proposta.titulo }}</p>
    <p>Descrição: {{ proposta.descricao }}</p>
    <p>Preço: {{ proposta.preco }}</p>
    <p>Itens: {{ proposta.itens }}</p>

</body>
</html>
