<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Excluir Proposta</title>
</head>
<body>
    <h1>Excluir Proposta</h1>
    <p>Tem certeza que deseja excluir a proposta "{{ proposta.titulo }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Exclusão</button>
    </form>
</body>
</html>
