{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Propostas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="shortcut-bar">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <nav>
            <a href="{% url 'registro'%}">Registro cliente</a>
            <a href="{% url 'opportunity_management'%}">Gerenciar vendas</a>
            <a href="{% url 'pesquisar_clientes'%}">Pesquisar cliente</a>
            <a href="{% url 'criar_proposta'%}">Criar propostas</a>
            <button class="btn-back" onclick="history.back()">Voltar</button>
        </nav>
    </header>
    
    <main class="main-content">
        <div class="form-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            <h2>Visualizar propostas</h2>
            <div class="result-container">
                {% for proposta in propostas %}
                <div class="result-card">
                    <h3>Proposta:{{ proposta.titulo }}<br></h3>
                    <div class="buttons">
                        <a href="{% url 'detalhes_proposta' proposta.id %}">Detalhes</a>
                        <form method="post" action="{% url 'excluir_proposta' proposta.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn-view">Excluir</button>
                        </form>
                        <form method="post" action="{% url 'enviar_proposta_por_email' proposta.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn-view">Enviar por E-mail</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>    
</body>
</html>
