{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gestão de Oportunidades</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="shortcut-bar">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <a href="{% url 'registro'%}">Registro cliente</a>
        <a href="{% url 'opportunity_management'%}">Gerenciar vendas</a>
        <a href="{% url 'visualizar_clientes'%}">Visualizar cliente</a>
        <a href="{% url 'listar_propostas'%}">Ver propostas</a>
        <button class="btn-back" onclick="history.back()">Voltar</button>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_cliente">Cliente:</label>
            {{ form.cliente }}
        </div>
        <div class="form-group">
            <label for="id_etapa">Etapa:</label>
            {{ form.etapa }}
        </div>
        <div class="form-group">
            <label for="id_valor">Valor:</label>
            {{ form.valor }}
        </div>
        <button type="submit">Salvar</button>
    </form>
    <div class="stage-container">
        <div id="prospeccao" class="stage" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Prospecção</h2>
            {% for opportunity in prospects %}
            <div class="opportunity" draggable="true" id="opportunity_{{ opportunity.id }}" ondragstart="drag(event)">
                <div class="details">
                    <strong>Nome:</strong> {{ opportunity.cliente.nome }}<br>
                    <strong>CPF/CNPJ:</strong> {{ opportunity.cliente.cpf_cnpj }}<br>
                    <strong>Valor:</strong> {{ opportunity.valor }}<br>
                </div>
                <div class="buttons">
                    <a href="{% url 'adicionar_interacao' opportunity.cliente.id %}">Adicionar <br>interação</a>
                    <a href="{% url 'historico_interacoes' opportunity.cliente.id %}">Histórico <br>interação</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="negociacao" class="stage" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Negociação</h2>
            {% for opportunity in negotiations %}
            <div class="opportunity" draggable="true" id="opportunity_{{ opportunity.id }}" ondragstart="drag(event)">
                <div class="details">
                    <strong>Nome:</strong> {{ opportunity.cliente.nome }}<br>
                    <strong>CPF/CNPJ:</strong> {{ opportunity.cliente.cpf_cnpj }}<br>
                    <strong>Valor:</strong> {{ opportunity.valor }}<br>
                </div>
                <div class="buttons">
                    <a href="{% url 'adicionar_interacao' opportunity.cliente.id %}">Adicionar <br>interação</a>
                    <a href="{% url 'historico_interacoes' opportunity.cliente.id %}">Histórico <br>interação</a><br>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="fechamento" class="stage" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Fechamento</h2>
            {% for opportunity in closures %}
            <div class="opportunity" draggable="true" id="opportunity_{{ opportunity.id }}" ondragstart="drag(event)">
                <div class="details">
                    <strong>Nome:</strong> {{ opportunity.cliente.nome }}<br>
                    <strong>CPF/CNPJ:</strong> {{ opportunity.cliente.cpf_cnpj }}<br>
                    <strong>Valor:</strong> {{ opportunity.valor }}<br>
                </div>
                <div class="buttons">
                    <a href="{% url 'adicionar_interacao' opportunity.cliente.id %}">Adicionar <br>interação</a>
                    <a href="{% url 'historico_interacoes' opportunity.cliente.id %}">Histórico <br>interação</a><br>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="ganho" class="stage" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Ganho</h2>
            {% for opportunity in wins %}
            <div class="opportunity" draggable="true" id="opportunity_{{ opportunity.id }}" ondragstart="drag(event)">
                <div class="details">
                    <strong>Nome:</strong> {{ opportunity.cliente.nome }}<br>
                    <strong>CPF/CNPJ:</strong> {{ opportunity.cliente.cpf_cnpj }}<br>
                    <strong>Valor:</strong> {{ opportunity.valor }}<br>
                </div>
                <div class="buttons">
                    <a href="{% url 'adicionar_interacao' opportunity.cliente.id %}">Adicionar <br>interação</a>
                    <a href="{% url 'historico_interacoes' opportunity.cliente.id %}">Histórico <br>interação</a><br>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="perdido" class="stage" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Perdido</h2>
            {% for opportunity in losses %}
            <div class="opportunity" draggable="true" id="opportunity_{{ opportunity.id }}" ondragstart="drag(event)">
                <div class="details">
                    <strong>Nome:</strong> {{ opportunity.cliente.nome }}<br>
                    <strong>CPF/CNPJ:</strong> {{ opportunity.cliente.cpf_cnpj }}<br>
                    <strong>Valor:</strong> {{ opportunity.valor }}<br>
                </div>
                <div class="buttons">
                    <a href="{% url 'adicionar_interacao' opportunity.cliente.id %}">Adicionar <br>interação</a>
                    <a href="{% url 'historico_interacoes' opportunity.cliente.id %}">Histórico <br>interação</a><br>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
