{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Proposta</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="shortcut-bar">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <nav>
            <a href="{% url 'registro'%}">Registro cliente</a>
            <a href="{% url 'opportunity_management'%}">Gerenciar vendas</a>
            <a href="{% url 'visualizar_clientes'%}">Visualizar cliente</a>
            <a href="{% url 'listar_propostas'%}">Ver propostas</a>
            <button class="btn-back" onclick="history.back()">Voltar</button>
        </nav>
    </header>
    
    <main class="main-content">
        <div class="form-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
            <h2>Criar proposta</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_titulo">Título</label>
                        {{ form.titulo }}
                    </div>
                    <div class="form-group">
                        <label for="id_descricao">Descrição</label>
                        {{ form.descricao }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_preco">Preço</label>
                        {{ form.preco }}
                    </div>
                    <div class="form-group">
                        <label for="id_prazo">Prazo de validade</label>
                        {{ form.prazo_validade }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_itens">Itens</label>
                        {{ form.itens }}
                    </div>
                    <div class="form-group">
                        <label for="id_termos">Termos de condições</label>
                        {{ form.termos_condicoes }}
                    </div>
                </div>
                <button type="submit" class="btn-submit">Cadastrar</button>
            </form>
        </div>
    </main>

</body>
</html>
