{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Interação</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="form-container">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <img src="{% static 'images/jacto.png' %}" alt="Jacto" class="jacto-logo">
        <h1>Adicionar interação</h1>
        <h2>{{ cliente.nome }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label for="id_nome">Tipo:</label>
                    {{ form.choice }}
                </div>
                <div class="form-group">
                    <label for="id_cpf_cnpj">Descrição:</label>
                    {{ form.descricao }}
                </div>
            </div>
            <button type="submit" class="btn-submit">Adicionar</button>
        </form>
    </div>
</body>
</html>
