{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Interação</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}"> 
</head>
<body>
    <div class="container">
        {% load static %}
        <div class="header">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            <img src="{% static 'images/jacto.png' %}" alt="Jacto" class="jacto-logo">
            <h1>Histórico de Interação</h1>
            <h2>{{ cliente.nome }}</h2>
        </div>
        <div class="interacoes">
            {% for interacao in interacoes %}
            <div class="interacao">
                <h3>Tipo: {{ interacao.choice }}</h3>
                <p>Descrição: {{ interacao.descricao }}</p>
                <p>Data: {{ interacao.data }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
