{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Cliente</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="shortcut-bar">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <nav>
            <a href="{% url 'registro'%}">Registro cliente</a>
            <a href="{% url 'opportunity_management'%}">Gerenciar vendas</a>
            <a href="{% url 'visualizar_clientes'%}">Visualizar cliente</a>
            <a href="{% url 'criar_proposta'%}">Criar propostas</a>
            <button class="btn-back" onclick="history.back()">Voltar</button>
        </nav>
    </header>
    <main class="main-content">
        <div class="form-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            <img src="{% static 'images/jacto.png' %}" alt="Jacto" class="jacto-logo">
            <h2>Pesquisar cliente</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <label for="id_nome">Nome</label>
                        {{ form.nome }}
                    </div>
                    <div class="form-group">
                        <label for="id_cpf_cnpj">CPF/CNPJ</label>
                        {{ form.cpf_cnpj }}
                    </div>
                </div>
                <button type="submit" class="btn-submit">Pesquisar</button>
            </form>
        </div>
    </main>
</body>
</html>
