{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Pesquisa</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="shortcut-bar">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <nav>
            <button class="btn-back" onclick="history.back()">Voltar</button>
            <a href="{% url 'registro'%}">Registro cliente</a>
            <a href="{% url 'opportunity_management'%}">Gerenciar vendas</a>
            <a href="{% url 'pesquisar_clientes'%}">Pesquisar cliente</a>
            <a href="{% url 'criar_proposta'%}">Criar propostas</a>
            <button class="btn-back" onclick="history.back()">Voltar</button>
        </nav>
    </header>
    <main class="main-content">
        <div class="form-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            <h2>Resultado pesquisa</h2>
            <div class="result-container">
                {% for cliente in clientes %}
                <div class="result-card">
                    <p><strong>Nome cliente</strong><br>{{ cliente.nome }}</p>
                    <p><strong>CPF/CNPJ</strong><br>{{ cliente.cpf_cnpj }}</p>
                    <a href="{% url 'visualizar_perfil' cliente.id %}" class="btn-view">visualizar perfil</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>
