{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil cliente</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="shortcut-bar">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        <nav>
            <a href="{% url 'registro'%}">Registro cliente</a>
            <a href="{% url 'opportunity_management'%}">Gerenciar vendas</a>
            <a href="{% url 'visualizar_clientes'%}">Visualizar cliente</a>
            <a href="{% url 'criar_proposta'%}">Criar propostas</a>
            <button class="btn-back" onclick="history.back()">Voltar</button>
        </nav>
    </header>
    <main class="main-content">
        <div class="form-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            <h2>{{ cliente.nome }}</h2>
            <div class="result-container2">
                <p><strong>Email:</strong>{{ cliente.email }}</p>
                <p><strong>Telefone:</strong>{{ cliente.telefone }}</p>
                <p><strong>CPF/CNPJ:</strong>{{ cliente.cpf_cnpj }}</p>
                <p><strong>Data de Nascimento:</strong>{{ cliente.data_nascimento }}</p>
                <p><strong>Cidade:</strong>{{ cliente.cidade }}</p>
                <p><strong>CEP:</strong>{{ cliente.cep }}</p>
                <p><strong>Rua:</strong>{{ cliente.rua }}</p>
                <p><strong>Número:</strong>{{ cliente.numero }}</p>
            </div>
            <div class="result-container3">
                <a href="{% url 'editar_cliente' cliente.id %}" class="btn-view">Editar perfil</a>
                <a href="{% url 'adicionar_interacao' cliente.id %}" class="btn-view">Adicionar interação</a>
                <a href="{% url 'historico_interacoes' cliente.id %}" class="btn-view">Histórico interação</a>
                <a href="{% url 'adicionar_compra' cliente.id %}" class="btn-view">Adicionar compra</a>
                <a href="{% url 'adicionar_preferencia' cliente.id %}" class="btn-view">Adicionar preferência</a>
                <a href="{% url 'lista_compras_e_preferencias' cliente.id %}" class="btn-view">Compras e preferencias</a>
            </div>
        </div>
    </main>
</body>
</html>
